<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Patients</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<header th:insert="header.html :: header">...</header>

		<div class="row">
		<p th:utext="${patientDto.firstName}"></p>
		<p th:utext="${patientDto.lastName}"></p>
		<p th:utext="${patientDto.dob}"></p>
		<p th:utext="${patientDto.sex}"></p>
		<p th:utext="${patientDto.address}"></p>
		<p th:utext="${patientDtophone}"></p>
		
		</div>
		<div class="row justify-content-between">
			<div class="col-3">
				<a href="#" class="btn btn-primary btn-sm">Generate the report</a>
			</div>
			<div class="col-3 ">
                <a href="#" class="btn btn-primary btn-sm float-end" >Add a new note</a>
            </div>
		</div>
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr bgcolor=#525252 style="color: #FFFFFF">
						<th width="90%">Note</th>
						<th width="10px">Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="historic: ${historics}">
						<td th:text="${historic.note}"></td>
						<td class="text-center">
							<a href="#">
								<img src="/icon/edit.png" />
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>